.board {

    
    padding: 1px;
    text-align: center;
    transition: background-color 0.5s;
    cursor: pointer;
    background-color: hsl(221, 100%, 91%);
  
}

table {
    border: 2px solid black;
    margin: auto;
    margin-top: 80px;
    
}
.btn {
    display: flex;
    margin-top: 100px;
}

td {
    width: 35px;
    height: 35px;
}

body {
    background-color: rgb(19, 19, 19);
    color: rgb(121, 121, 255);
}